@using System.Reflection
@using LCWebAssembly.Services
@using LCWebComposer.Services
@using LCWebLayout
@using LCWebLayout.Services
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Configuration;
@using System.IO
@inject ILCComposer Composer
@inject ILogger<App> Logger

<Router AppAssembly="@typeof(Program).Assembly" 
    AdditionalAssemblies="@Composer.LoadedAssemblies" 
    OnNavigateAsync="@OnNavigateAsync"
    PreferExactMatches="@true">
    <Navigating>
        <div style="padding:20px;background-color:blue;color:white">
            <p>Loading the requested page&hellip;</p>
        </div>
    </Navigating>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    private async Task OnNavigateAsync(NavigationContext context) 
    {
        try
        {
            await Composer.Compose(context.Path, Program.DefaultProvider, Logger);
        }
        catch(Exception x)
        {
            Logger.LogError(x, "OnNavigateAsync Loading assembly");
        }
    }
}

